{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="about-container">
    <h1>About This Project</h1>
    <p>This project uses a Convolutional Neural Network (CNN) based on the AlexNet architecture to detect malaria in blood smear images.</p>
    <p>It classifies cells as either Parasitized or Uninfected and further identifies the malaria species if infected. The model is designed to assist medical professionals by providing rapid preliminary analysis.</p>
    <p>Developed by a Computer Science student as part of a project under the KTU syllabus.</p>
</div>
{% endblock %}